body {
    font: 14px monospace;
    color: #eeeeee;
    background: #333333;
    text-align: center;
}
h1 {
    font-size: 3rem;
    margin-top: 10%;
}
input {
    font-size: 1.5rem;
    background: #000000;
    border: 2px solid #aaaaaa;
    padding: 0.5rem;
    color: #ffffff;
}
div {
    margin-top: 1rem;
}